*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(backgroundimage.jpg);
    background-size: cover;
    background-position: center; 
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;    
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0 ;
    background: #297F87;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.title {
    width: 100%;
    text-align: center;
}

.title img {
    width: 500px;
}


.contact-box {
    width: 500px;
    background-color: #152D35;
    box-shadow: 0 0 20px 0 black;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;  
}

form {
    margin-bottom: 35px;
    margin-left: 35px;
    margin-right: 35px;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    background-color: #bfd4d9;
    color: white;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
    
}
.button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #297F87;
    background: transparent;
    color: white;
    cursor: pointer;
    
}

.button:hover{
    background-color: black;
    opacity: 0.7; 
}
.footer {
    background-color: #297F87;
}

.footer_img {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright {
    float:right;
    color:white;
    padding-right: 30px;
}

.contact-box p {
    color: #bfd4d9;
    font-style: italic;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 0;
}
